HASURA_JWT_SECRET=7fe758d191d2cf3623fc98d1e9a8fa3f
HASURA_ADMIN_SECRET=myadminsecretkey
HASURA_JWT_AUDIENCE=tse-graph-local
NEXT_PUBLIC_GRAPHQL_API=http://localhost:8080/v1/graphql
POSTMARK_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51IP2MHDS72lMqlMhGrnWj4BZxb2feh5ibuYBQXCLV03WJozBKnUabUVNhJJPe8QSIjkAlA30lEX55VhgZxaAzS7C00FxbE7AjY
STRIPE_SECRET_KEY=sk_test_51IP2MHDS72lMqlMhePiRY58Enm1OOqV4c0j5W1Dwqxq70M3inYR2mi5TuoS1Eplc3Qjjr66MzQUzBlTxq8Ex5YJI00a0mGsDwe