@tailwind base;
@tailwind components;
@tailwind utilities;

/* ****************** */
/* Special tailwind only syntax */

a,
button,
input,
textarea {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:ring-opacity-70;
}

body {
  @apply bg-gray-100;
}

/* ****************** */

:root {
  --vh: 1vh;
}

textarea {
  resize: none;
}

*:focus {
  outline: none !important;
}

button:disabled svg path,
button:disabled svg circle {
  fill: lightgray !important;
  color: lightgray !important;
}

button:hover:enabled svg path,
button:hover:enabled svg circle,
button:hover:enabled p {
  fill: black !important;
  color: black !important;
}

.fade-out-top {
  mask-image: linear-gradient(to top, black 90%, transparent 100%);
}
